{% extends 'base.html.twig' %}

{% block title %}CholloTech - Inicio
{% endblock %}
{% block javascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		a:link,
		a:visited,
		a:active {
			text-decoration: none;
			color: black;
		}
	</style>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row equal d-flex">
					{% for producto in productos|reverse %}
						<div class="scrollable-data">
							<div class="col d-flex justify-content-center">
								<div class="card mb-3 mx-5 mt-2" style="width: 60em;">
									<div class="row g-0 h-100">
										<div class="col-md-5">
											<img src="{{ asset(uploads_directory ~ producto.imagen ) }}" alt="{{ producto.nombre }}" style="width:100%; height:100%" class="imagenes">
										</div>
										<div class="col-md-7">
											<div class="card-body h-100">
												<h5 class="card-title">{{ producto.nombre }}</h5>
												{% set sumratings = 0 %}
												{% for rating in producto.valoracions %}
													{% set sumratings = sumratings + rating.puntuacion %}
												{% endfor %}
												{% if producto.valoracions|length != 0 %}
													{% set average = sumratings / producto.valoracions|length %}
													{{ average|rating }}
												{% else %}
													{{ 0|rating }}
												{% endif %}
												<p class="card-text text-warning fw-bold fs-4">{{ producto.precio }}
													€</p>
												{% if producto.descripcion|length < 50 %}
													<p class="card-text">{{ producto.descripcion }}</p>
												{% else %}
													<p class="card-text">{{ producto.descripcion|u.truncate(50, '...', false) }}</p>
													<a href="{{ path('producto_show', {'id': producto.id}) }}" class="fw-bold">Leer mas</a>
												{% endif %}
												<p class="card-text">
													<small class="text-muted">{{ producto.fechacreacion|ago}}</small>
												</p>
												<div class="d-md-flex justify-content-md-end">
													<a target="_self" href="{{ path('producto_show', {'id': producto.id}) }}/#comentarios" class="btn btn-warning">
														<i class="fas fa-comments"></i>
														{{ producto.comentarios|length }}</a>
													<a href="{{ path('producto_show', {'id': producto.id}) }}" class="btn btn-warning mx-2">Ir al Chollo</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
